<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1Dwz6S-WH5lDzdUi8lgdkmBTaA8NaK8I</string>
	<key>GCM_SENDER_ID</key>
	<string>897107102601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chandrachaan.resume.portfoliWeb</string>
	<key>PROJECT_ID</key>
	<string>rollapp-2c71b</string>
	<key>STORAGE_BUCKET</key>
	<string>rollapp-2c71b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897107102601:ios:05ac0693e81eaffe26ef58</string>
</dict>
</plist>