html {
  height: 100%
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading {
  font-size: 48px;
  font-weight: bold;
  animation-name: heartbeat;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.25);
  }
  40% {
    transform: scale(1.5);
  }
}